@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

/* =======================
   GLOBAL
======================= */

:root {
  --primary: #FF6060;
  --background-light: #f6f6f6;
  --text-dark: #000000;
  --text-light: #ffffff;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

html,
body,
#root {
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-content {
  flex: 1;
}

/* =======================
   LAYOUT
======================= */

.app-container {
  margin: 30px 90px;
}

/* =======================
   HEADER
======================= */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px;
  font-size: 26px;
  margin: 25px 80px;
}

.logo {
  height: 60px;
}

nav {
  display: flex;
  gap: 70px;
  white-space: nowrap;
}

.nav-link {
  text-decoration: none;
  color: var(--text-dark);
  font-weight: 500;
  position: relative;
}

.nav-link.active {
  border-bottom: 2px solid var(--text-dark);
}

/* =======================
   BANNER
======================= */

.banner {
  position: relative;
  height: 200px;
  margin: 20px;
  border-radius: 20px;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--text-light);
  font-size: 24px;
  font-weight: bold;

  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.banner h1 {
  position: relative;
  z-index: 1;
}

/* =======================
   CARDS
======================= */

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  padding: 50px;
  margin: 20px;
  background: var(--background-light);
  border-radius: 20px;
}

.card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  height: 340px;
  cursor: pointer;

  text-decoration: none;
  color: inherit;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
  color: var(--text-light);
}

.card h2 {
  margin: 0;
  font-size: 16px;
}

/* =======================
   FOOTER
======================= */

.footer {
  background: var(--text-dark);
  color: var(--text-light);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 70px 0 10px;
  gap: 20px;
  font-size: 22px;
}

.footer-logo {
  height: 40px;
}

/* =======================
   ABOUT - COLLAPSE
======================= */

.about-collapses {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  overflow: hidden;
  margin: 8px 90px;
}

.collapse {
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.collapse-header {
  background: var(--primary);
  color: var(--text-light);

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 8px 20px;
  cursor: pointer;
}

.collapse-header h3 {
  margin: 0;
  font-size: 25px;
  line-height: 1;
}

.collapse-content {
  background: var(--background-light);
  color: var(--text-dark);
  line-height: 1.5;

  max-height: 0;
  overflow: hidden;

  padding: 0 20px;
  font-size: 18px;

  transition: max-height 0.25s ease, padding 0.25s ease;
  flex: 1;
}

.collapse-content.open {
  max-height: 500px;
  padding: 20px;
}

.collapse-inner {
  transform: translateY(-30px);
  opacity: 0;

  transition: transform 0.15s ease, opacity 0.15s ease;
}

.collapse-content.open .collapse-inner {
  transform: translateY(0);
  opacity: 1;
  transition: transform 0.2s ease 0.15s, opacity 0.2s ease 0.15s;
}

.collapse-arrow {
  width: 35px;
  transition: transform 0.3s ease;
  transform: rotate(0deg);
}

.collapse-arrow.open {
  transform: rotate(-180deg);
}

/* =======================
   NOT FOUND
======================= */

.notfound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  gap: 90px;
}

.notfound h1 {
  font-size: 280px;
  margin: 60px 0 20px 0;
  color: var(--primary);
  font-weight: 700;
}

.notfound p {
  font-size: 30px;
  padding-bottom: 20px;
  color: var(--primary);
}

.notfound-link {
  font-size: 18px;
  color: var(--text-dark);
  text-decoration: underline;
  padding-bottom: 100px;
}

/* =======================
   PROPERTY
======================= */

.property {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.property-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 23px;
}

.property-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.property-info-left {
  display: flex;
  flex-direction: column;
}

.property-info-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  gap: 20px;
  align-items: stretch;
}

.property-collapses {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  margin: 23px 0;
  align-items: stretch;
}

.property-collapse {
  display: flex;
}

.property .collapse-header h3 {
  font-size: 18px;
}

.property-description,
.property-equipments p {
  margin: 0;
  line-height: 1.6;
}

.title-location-title {
  color: var(--primary);
  font-size: 36px;
  font-weight: 500;
  margin: 0;
  line-height: 1.2;
}

.title-location-location {
  font-size: 18px;
  color: var(--text-dark);
  margin: 10px 0;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 10px;
}

.tag {
  background: var(--primary);
  color: var(--text-light);
  padding: 5px 30px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
  display: inline-block;
  min-width: 80px;
  text-align: center;
}

.rating {
  display: flex;
  gap: 5px;
  align-items: center;
}

.star {
  width: 36px;
  height: 36px;
}

.host {
  display: flex;
  align-items: center;
  gap: 15px;
}

.host-name {
  font-size: 19px;
  color: var(--primary);
  margin: 5px;
  text-align: right;
  width: 90px;
}

.host-picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

/* =======================
   CAROUSEL
======================= */

.carousel {
  width: 100%;
  height: 500px;
  overflow: hidden;
  border-radius: 25px;
  position: relative;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 46px;
  height: 80px;
  cursor: pointer;
  z-index: 2;
}

.carousel-arrow.left {
  left: 20px;
}

.carousel-arrow.right {
  right: 20px;
  transform: translateY(-50%) rotate(180deg);
}

.carousel-counter {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 19px;
  font-weight: 500;
  z-index: 2;
}

/* =======================
   RESPONSIVE
======================= */

@media (max-width: 768px) {

  .app-container {
    margin: 15px;
  }

}

/* HEADER */

@media (max-width: 768px) {

  .header {
    padding: 0;
    margin: 30px 30px 0 30px;
    font-size: 18px;
  }

  nav {
    gap: 20px;
  }

  .logo {
    height: 45px;
  }

  .nav-link {
    text-transform: uppercase;
    font-size: 14px;
  }
}

/* BANNER */

@media (max-width: 768px) {

  .banner {
    height: 120px;
    font-size: 13px;
    margin: 20px 10px;
    border-radius: 10px;
  }

  .banner h1 {
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0 20px;
  }

}

/* CARDS */

@media (max-width: 768px) {

  .cards-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 5px 0;
    margin: 30px 10px 0 10px;
    gap: 20px;
    background: none;
    border-radius: 10px;
  }

  .card {
    height: 250px;
  }
}

/* ABOUT */

@media (max-width: 768px) {

  .about-collapses {
    padding: 20px 10px 0 10px;
    margin: 0;
  }

  .collapse {
    margin: 0;
    width: 100%;
  }

  .collapse-header h3 {
    font-size: 16px;
  }

  .collapse-content {
    font-size: 16px;
  }
}

/* NOT FOUND */

@media (max-width: 768px) {

  .notfound h1 {
    font-size: 120px;
    margin: 20px 0;
  }

  .notfound p {
    font-size: 18px;
  }

  .notfound {
    gap: 40px;
    margin-top: 60px;
  }
}

/* =======================
       PROPERTY CONTAINER
    ======================= */

@media (max-width: 768px) {
  .property {
    padding: 0 10px;
    margin: 0;
    gap: 15px;
  }

  .property-container {
    width: 100%;
    margin: 0;
  }

  /* CAROUSEl */

  .property-carousel {
    margin: 0;
  }

  .carousel {
    height: 255px;
    border-radius: 10px;
  }

  .carousel-counter {
    display: none;
  }

  .carousel-arrow {
    width: 15px;
    height: 20px;
  }

  .carousel-arrow.left {
    left: 7px;
  }

  .carousel-arrow.right {
    right: 7px;
  }


  /* INFOS */

  .property-info {
    flex-direction: column;
    margin: 10px 0;
    gap: 15px;
  }

  .property-info-left,
  .property-info-right {
    width: 100%;
  }

  .property-info-right {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
  }

  /* TITRE / LOCATION */

  .title-location-title {
    font-size: 18px;
    line-height: 1.2;
  }

  .title-location-location {
    font-size: 14px;
  }

  /* TAGS */

  .tag {
    font-size: 12px;
    padding: 3px 12px;
    border-radius: 6px;
  }

  /* HOST */

  .host {
    gap: 8px;
  }

  .host-name {
    font-size: 12px;
    width: auto;
  }

  .host-picture {
    width: 32px;
    height: 32px;
    padding-right: 10px;
  }

  /* RATING */

  .rating {
    gap: 2px;
  }

  .star {
    width: 20px;
    height: 20px;
  }

  /* COLLAPSES */

  .property-collapses {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 10px 0;
  }

  .property-collapse {
    width: 100%;
  }

  .property .collapse-header h3 {
    font-size: 13px;
    font-weight: 500;
  }

  .collapse-header {
    padding: 8px 12px;
  }

  .collapse-arrow {
    width: 20px;
  }

  .collapse-content {
    font-size: 12px;
  }

  .property-description,
  .property-equipments p {
    font-size: 12px;
    line-height: 1.4;
  }
}